<h1> Places Available!</h1>

<% @listings.each do |post|%>
    <%if post.image.attached?%>
    <%=  image_tag url_for(post.image)%><br>
    <%=link_to "More information",listing_path(post)%>
    <hr>
    <%end%>
    <% end %>
