// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/






  p {
    color: black;
  }

    .hero.has-background {
      position: relative;
      overflow: hidden;
    }
    .hero-background {
      position: absolute;
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
    .hero-background.is-transparent {
      
    }
    